# Postgresql database connection
POSTGRES_USER=<Имя пользователя>
POSTGRES_PASSWORD=<Пароль пользователя>
POSTGRES_DB=<Название базы данных>
POSTGRES_SERVER=<Название или IP сервера базы данных>
POSTGRES_PORT=<Порт базы данных>
# Rabbitmq connection
RABBITMQ_USER=<Имя пользователя>
RABBITMQ_PASSWORD=<Пароль пользователя>
RABBITMQ_PORT=<Порт rabbitmq>
RABBITMQ_HOST=<хост rabbitmq>
